@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  /* height: 250px; */
  width: 100px;
}

.splash_img {
  background-image: url(../img/komprimeret_splash.webp);
  /* height: 150vh;
  width: 100%;
  background-size: cover;
  background-position: 25% 0%; */
}

.arrow {
  background-image: url(../img/komprimeret_splash.webp);
  /* height: 150vh;
  width: 100%;
  background-size: cover; */
}

.programs {
  background-image: url(../img/komprimeret_splash.webp);
  /* height: 150vh;
  width: 100%;
  background-size: cover; */
}

.profile_img {
  background-image: url(../img/komprimeret_splash.webp);
  /* height: 150vh;
  width: 100%;
  background-size: cover; */
}

.arrow_top {
  background-image: url(../img/komprimeret_splash.webp);
  /* height: 150vh;
  width: 100%;
  background-size: cover; */
}
