@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  /* height: 250px; */
  background-size: cover;
  width: 100px;
  background-position: 50%;
}

.w-full {
  display: none;
}
@media (min-width: 640px) {
  .block {
    display: none;
  }
  .w-full {
    display: flex !important;
  }
}

.splash_img {
  background-image: url(../img/komprimeret_splash.webp);
  /* height: 150vh;
  width: 100%;
  background-size: cover;
  background-position: 25% 0%; */
}

.arrow {
  background-image: url(../img/komprimeret_splash.webp);
  /* height: 150vh;
  width: 100%;
  background-size: cover; */
}

.programs {
  background-image: url(../img/komprimeret_splash.webp);
  /* height: 150vh;
  width: 100%;
  background-size: cover; */
}

.profile_img {
  background-image: url(../img/komprimeret_splash.webp);
  /* height: 150vh;
  width: 100%;
  background-size: cover; */
}

.arrow_top {
  background-image: url(../img/komprimeret_splash.webp);
  /* height: 150vh;
  width: 100%;
  background-size: cover; */
}
